/* -------------------- Media Queries

/*-------------------- screens with width ABOVE 855px */
@media (max-width: 960px) {
  #about {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
  }

  .about-header {
    height: 20vh;
    width: 100vw;
    background-color: #fff;
  }
  .about-header h1 {
    left: 0;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    color: var(--main-color);
  }
  .about-content {
    height: 80vh;
    width: 100vw;
  }
  #portfolio {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
  }

  .portfolio-header {
    height: 20vh;
    width: 100vw;
    background-color: #fff;
  }
  .portfolio-header h1 {
    left: 0;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    color: var(--main-color);
  }
  .portfolio-content {
    height: 80vh;
    width: 100vw;
  }
  #blogs {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
  }

  .blogs-header {
    height: 20vh;
    width: 100vw;
    background-color: #fff;
  }
  .blogs-header h1 {
    left: 0;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    color: var(--main-color);
  }
  .blogs-content {
    height: 80vh;
    width: 100vw;
  }
  #contact {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
  }

  .contact-header {
    height: 20vh;
    width: 100vw;
    background-color: #fff;
  }
  .contact-header h1 {
    left: 0;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    color: var(--main-color);
  }
  .contact-content {
    height: 80vh;
    width: 100vw;
  }
}

/*-------------------- screens with width BELOW 855px */
@media (max-width: 768px) {
  .pilot .greeting {
    min-height: 100vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* align-items: center; */
    justify-content: center;
  }
  figure .logo {
    width: 100px;
  }

  figure .logo-name a {
    font-size: medium;
    /* font-size: large; */
    font-weight: normal;
    letter-spacing: 2px;
  }
  p {
    font-size: 12px;
    line-height: 1.5rem;
  }
  .content h1 {
    font-size: 2em;
  }

  .pilot .greeting h1 {
    margin-top: 35px;
    font-size: 35px;
  }
  .pilot .greeting p {
    margin-top: 80px;
    margin-bottom: 60px;
    font-size: large;
  }
  .pilot .greeting .go-under {
    margin-top: 50px;
  }
  .ppimg img {
    height: 250px;
  }
  .greeting .go-under a {
    border: solid 2px var(--color-p1);
    padding: 25px 75px;
    font-family: "Poiret One", cursive;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 3px;
    transition: 0.3s ease;
  }
  #about {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
  }

  .about-header {
    height: 15vh;
    width: 100vw;
    /* border: wheat 20px solid; */
    /* height: 10vh; */
    /* text-align: center; */
    /* justify-content: center; */
    background-color: #fff;
  }
  .about-header h1 {
    left: 0;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    letter-spacing: 0.2em;
    color: var(--main-color);
  }
  .about-content {
    height: 85vh;
    width: 100vw;
  }
  #portfolio {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
  }

  .portfolio-header {
    height: 15vh;
    width: 100vw;
    background-color: #fff;
  }
  .portfolio-header h1 {
    left: 0;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    letter-spacing: 0.2em;

    color: var(--main-color);
  }
  .portfolio-content {
    height: 85vh;
    width: 100vw;
  }
  #blogs {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
  }

  .blogs-header {
    height: 15vh;
    width: 100vw;
    background-color: #fff;
  }
  .blogs-header h1 {
    /* /* top: 8vh; */
    left: 0;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    letter-spacing: 0.2em;

    color: var(--main-color);
  }
  .blogs-content {
    height: 85vh;
    width: 100vw;
  }
  #contact {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
  }

  .contact-header {
    height: 15vh;
    width: 100vw;
    background-color: #fff;
  }
  .contact-header h1 {
    left: 0;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    letter-spacing: 0.2em;
    color: var(--main-color);
  }
  .contact-content {
    height: 85vh;
    width: 100vw;
  }
}
