/* -------------------- Media Queries

/*-------------------- screens with width ABOVE 855px */
@media (max-width: 1600px) {
  .pilot .greeting {
    width: 80vw;
    margin: auto;
    z-index: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 50%;
    /* margin-right: -50%; */
    transform: translate(-50%, -50%);
  }
  figure .logo {
    display: inherit;
    width: 120px;
    height: auto;
    margin: 5px 10px;
  }
  figure .logo-anim {
    display: none;
  }

  .logo-name a {
    margin-left: 15px;
    font-size: medium;
    /* font-size: large; */
    font-weight: normal;
    letter-spacing: 2px;
  }
  .logo-name a:hover {
    background-color: white;
    color: var(--main-color);
  }
  p {
    font-size: 12px;
    line-height: 1.5rem;
  }
  .content h1 {
    font-size: 2em;
  }

  .greeting h1 {
    margin-top: 5vh;
    font-size: 55px;
  }
  .greeting p {
    font-size: xx-large;
  }
  /* .greeting .go-under {
    /* margin-bottom: 50px; 
  } */
  .ppimg img {
    height: 250px;
  }
  /* .go-under a {
    border: solid 2px var(--color-p1);
    padding: 25px 75px;
    font-family: "Poiret One", "avenir medium";
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 3px;
    transition: 0.3s ease;
  } */
  #about {
    /* background-color: var(--main-color); */
    display: flex;
    flex-direction: column;
  }

  .about-header {
    height: 20vh;
    width: 100vw;
    /* background-color: #fff; */
    position: relative;
  }
  .about-header h1 {
    margin: 0;
    font-size: 50px;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.2em;
    color: var(--main-color);
  }
  .about-content {
    height: 80vh;
    width: 100vw;
  }

  .lang-icons {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: space-evenly;
    margin-bottom: 3vh;
  }

  .contact-header img {
    display: none;
  }

  #portfolio {
    /* background-color: var(--main-color); */
    display: flex;
    flex-direction: column;
  }

  .portfolio-header {
    height: 20vh;
    width: 100vw;
    /* background-color: #fff; */
    position: relative;
  }
  .portfolio-header h1 {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    letter-spacing: 0.2em;
    color: var(--main-color);
  }
  .portfolio-content {
    height: 80vh;
    width: 100vw;
  }
  #blogs {
    /* background-color: var(--main-color); */
    display: flex;
    flex-direction: column;
  }

  .blogs-header {
    height: 20vh;
    width: 100vw;
    /* background-color: #fff; */
    position: relative;
  }
  .blogs-header h1 {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    letter-spacing: 0.2em;
    color: var(--main-color);
  }
  .blogs-content {
    height: 80vh;
    width: 100vw;
  }
  #contact {
    /* background-color: var(--main-color); */
    display: flex;
    flex-direction: column;
  }

  .contact-header {
    height: 20vh;
    width: 100vw;
    /* background-color: #fff; */
    position: relative;
  }
  .contact-header h1 {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    letter-spacing: 0.2em;
    color: var(--main-color);
  }

  .contact-content {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    text-align: center;
    /* border: magenta 2px solid; */
    /*justify-content: center; */
  }
  .contact-content .media,
  .contact-content .ppimg,
  .contact-content .anti-media {
    width: 90vw;
    /* padding: auto; */
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
  }
  .ppimg {
    order: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    /* border: maroon 2px solid; */
  }
  .contact-lImg-small {
    display: flex;
    flex-direction: row;
    width: 90vw;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 50px;
    /* border: mediumaquamarine solid 2px; */
  }
  /* .contact-intro {
    /* padding-bottom: 30px; 
  } */
  .contact-intro p {
    font-family: "Poiret One", "avenir medium";
    line-height: 2em;
    letter-spacing: 0.2em;
    text-align: center;
    font-size: x-large;
    padding: 0 20px;
    margin: 10px 0 10px 0;
  }
  .contact-intro h1 {
    font-family: "Audiowide", "avenir medium", "verdana";
    font-size: 3em;
    letter-spacing: 0.2em;
    margin-top: 3vh;
  }
  .contact-lImg {
    text-align: center;
    justify-content: center;
    /* border: mediumaquamarine solid 2px; */
  }
  .contact-lImg img {
    height: 12vh;
  }
  .contact-bye {
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
  }
  .contact-bye img {
    height: 70px;
  }
  .contact-bye-gitU a {
    text-align: center;
    justify-content: center;
    margin: 0px 20px;
    font-size: xx-large;
    font-weight: normal;
    letter-spacing: 3px;
    background-color: var(--main-color);
    padding: 5px 50px;
    border: ivory solid 1px;
    cursor: pointer;
  }
  .contact-bye-gitU a:hover {
    background-color: white;
    color: var(--main-color);
  }
  .media {
    order: 2;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    padding: 0px;
    /* border: snow 2px solid; */
    z-index: 5;
  }
  .media a {
    border-bottom: var(--main-color) 5px solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .media a img {
    height: 60px;
  }
  .media a:hover {
    background-color: var(--color-p1);
    border-bottom: var(--color-p2) 5px solid;
  }
  .anti-media {
    order: 3;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    padding: 0px;
    text-align: center;
    justify-content: center;
    /* border: rosybrown solid 2px; */

    z-index: 5;
  }
}

/*-------------------- screens with width BELOW 855px */
@media (max-width: 848px) {
  .pilot .greeting {
    width: 90vw;
    margin: auto;
    z-index: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 50%;
    /* margin-right: -50%; */
    transform: translate(-50%, -50%);
  }
  figure .logo {
    display: inherit;
    width: 80px;
    height: auto;
    margin: 5px 0 5px 30px;
  }
  figure .logo-anim {
    display: none;
  }

  figure .logo-name a {
    margin-left: 15px;
    /* margin-bottom: 5vh; */
    font-size: small;
    /* font-size: large; */
    font-weight: normal;
    letter-spacing: 2px;
  }
  .logo-name a:hover {
    background-color: white;
    color: var(--main-color);
  }
  p {
    font-size: 12px;
    line-height: 1.5rem;
  }
  .content h1 {
    font-size: 2em;
  }

  .greeting h1 {
    margin-top: 80px;
    font-size: 50px;
  }
  .greeting p {
    margin-top: 80px;
    margin-bottom: 150px;
    font-size: 25px;
  }
  .greeting .high-light {
    font-size: 30px;
  }
  .greeting .go-under {
    margin-top: 50px;
  }
  .go-under a {
    border: solid 2px var(--color-p1);
    padding: 20px 150px;
    font-family: "Poiret One", "avenir medium";
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 6px;
    transition: 0.3s ease;
  }
  #about {
    /* background-color: var(--main-color); */
    display: flex;
    flex-direction: column;
  }

  .about-header {
    height: 20vh;
    width: 100vw;
    /* background-color: #fff; */
    position: relative;
  }
  .about-header h1 {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    letter-spacing: 0.2em;
    color: var(--main-color);
  }
  .about-content {
    height: 80vh;
    width: 100vw;
  }
  .contact-header img {
    display: none;
  }
  #portfolio {
    /* background-color: var(--main-color); */
    display: flex;
    flex-direction: column;
  }

  .portfolio-header {
    height: 20vh;
    width: 100vw;
    /* background-color: #fff; */
    position: relative;
  }
  .portfolio-header h1 {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    letter-spacing: 0.2em;
    color: var(--main-color);
  }
  .portfolio-content {
    height: 80vh;
    width: 100vw;
  }
  #blogs {
    /* background-color: var(--main-color); */
    display: flex;
    flex-direction: column;
  }

  .blogs-header {
    height: 20vh;
    width: 100vw;
    /* background-color: #fff; */
    position: relative;
  }
  .blogs-header h1 {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    letter-spacing: 0.2em;
    color: var(--main-color);
  }
  .blogs-content {
    height: 80vh;
    width: 100vw;
  }
  #contact {
    /* background-color: var(--main-color); */
    display: flex;
    flex-direction: column;
  }

  .contact-header {
    height: 20vh;
    width: 100vw;
    /* background-color: #fff; */
    position: relative;
  }
  .contact-header h1 {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    letter-spacing: 0.2em;
    color: var(--main-color);
  }

  .contact-content {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    text-align: center;
    /* border: magenta 2px solid; */
    justify-content: space-around;
  }
  .contact-content .media,
  .contact-content .ppimg,
  .contact-content .anti-media {
    width: 90vw;
    /* padding: auto; */
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
  }
  .ppimg {
    order: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    /* border: maroon 2px solid; */
  }
  .contact-lImg-small {
    display: flex;
    flex-direction: row;
    width: 90vw;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 50px;
    /* border: mediumaquamarine solid 2px; */
  }
  /* .contact-intro {
    /* padding-bottom: 30px; 
  } */
  .contact-intro p {
    font-family: "Poiret One", "avenir medium";
    line-height: 2em;
    letter-spacing: 0.2em;
    text-align: center;
    font-size: x-large;
    padding: 0 20px;
    margin: 10px 0 10px 0;
  }
  .contact-intro h1 {
    font-family: "Audiowide", "avenir medium", "verdana";
    font-size: 2.3em;
    letter-spacing: 0.2em;
    margin-top: 3vh;
  }
  .contact-lImg {
    text-align: center;
    justify-content: center;
    /* border: mediumaquamarine solid 2px; */
  }
  .contact-lImg img {
    height: 10vh;
  }
  .contact-bye {
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
  }
  .contact-bye img {
    height: 70px;
  }
  .contact-bye-gitU a {
    text-align: center;
    justify-content: center;
    margin: 0px 20px;
    font-size: x-large;
    font-weight: normal;
    letter-spacing: 3px;
    background-color: var(--main-color);
    padding: 5px 25px;
    border: ivory solid 1px;
    cursor: pointer;
  }
  .contact-bye-gitU a:hover {
    background-color: white;
    color: var(--main-color);
  }
  .media {
    order: 2;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    padding: 0px;
    /* border: snow 2px solid; */
    z-index: 5;
  }
  .media a {
    border-bottom: var(--main-color) 5px solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .media a img {
    height: 45px;
  }
  .media a:hover {
    background-color: var(--color-p1);
    border-bottom: var(--color-p2) 5px solid;
  }
  .anti-media {
    order: 3;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    padding: 0px;
    text-align: center;
    justify-content: center;
    /* border: rosybrown solid 2px; */

    z-index: 5;
  }
}
@media (max-width: 420px) {
  #nav-links {
    display: none;
  }
  .pilot .greeting {
    width: 90vw;
    margin: auto;
    z-index: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 50%;
    /* margin-right: -50%; */
    transform: translate(-50%, -50%);
  }
  figure .logo {
    display: inherit;
    width: 50px;
    height: auto;
    margin: 3px 0 3px 10px;
  }
  figure .logo-anim {
    display: none;
  }

  figure .logo-name a {
    /* display: none; */
    margin: 0px 10px;
    /* margin-bottom: 5vh; */
    font-size: 10px;
    padding: 4px 10px;
    font-size: small;
    background-color: var(--main-color);
    color: white;
    border: var(--color-p2) solid 1px;
    font-weight: normal;
    letter-spacing: 1px;
  }
  .logo-name a:hover {
    background-color: (var(--main-color));
    color: white;
    border: var(--color-p2) solid 1px;
  }
  p {
    font-size: 14px;
    line-height: 1rem;
  }
  .content h1 {
    font-size: 20px;
  }
  .lines {
    display: none;
  }
  .greeting img {
    width: 30px;
  }
  .greeting h1 {
    margin-top: 20px;
    font-size: 25px;
  }
  .greeting p {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 14px;
  }
  .greeting .high-light {
    font-size: 16px;
  }
  .greeting .go-under {
    margin-top: 10px;
  }
  .go-under a {
    border: solid 2px var(--color-p1);
    padding: 10px 50px;
    font-family: "Poiret One", "avenir medium";
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 0.3s ease;
  }
  #about {
    /* background-color: var(--main-color); */
    display: flex;
    flex-direction: column;
  }

  .about-header {
    height: 20vh;
    width: 100vw;
    /* background-color: #fff; */
    position: relative;
  }
  .about-header h1 {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    letter-spacing: 0.2em;
    color: var(--main-color);
  }
  .about-content {
    width: 90vw;
    min-height: 100vh;
    margin: 8vh 0 8vh 0;
    /* padding-top: 15vh 0; */
    display: flex;
    flex-direction: column;
    text-align: center;
    /* justify-content: space-around; */

    /* position: relative; */
  }

  .about-content .tech,
  .about-content .general {
    width: 90vw;
    height: auto;
    margin: auto;

    display: flex;
    flex-direction: column;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
  }

  .about-content h2 {
    align-self: center;
    /* width: fit-content;
    height: fit-content; */
    font-family: "Audiowide", "avenir black", "verdana bold";
    letter-spacing: 4px;
    padding: 5px 50px;
    margin-top: 0px;
    /* margin-bottom: 20px; */
    font-size: 20px;
    /* background-color: #fff; */
    color: whitesmoke;
    /* border: var(--color-p1) solid 2px; */
  }
  .p-space {
    margin-top: 1.5vh;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    justify-content: center;
  }
  .lang-icons {
    width: inherit;
    display: flex;
    /* flex-direction: column; */
    flex-flow: wrap;
    justify-content: center;
    margin-bottom: 1vh;
  }
  .lang-icons-want {
    display: flex;
    /* flex-direction: column; */
    flex-flow: wrap;
    justify-content: center;
    margin-bottom: 1vh;
  }

  .lang-icons img {
    height: 30px;
    align-self: center;
    margin: 5px 10px 0px 10px;
  }

  .lang-icons-want img {
    height: 25px;
    align-self: center;
    margin: 0px 10px;
  }

  .p-space .want p {
    font-size: 12px;
    text-align: center;
  }
  .lang-icons h3 {
    margin-top: 0px;
    letter-spacing: 2px;
    align-self: center;
    font-size: 10px;
    color: white;
    font-family: "Montserrat";
    font-weight: lighter;
  }
  .lang-icons h4 {
    font-size: large;
    align-self: center;
    color: white;
  }
  .lang-icons-want h4 {
    margin-top: 0px;

    font-size: large;
    align-self: center;
    color: white;
  }

  .general p,
  .tech p {
    margin: 1vh 1vw;
    font-family: "Poiret One", "avenir", "verdana";
    font-size: small;
    letter-spacing: 2px;
    text-align: justify;
    line-height: 1.5em;
    /* border: darkcyan solid 2px; */
  }
  .sep-line {
    width: auto;
    height: 1px;
    margin-top: 2px;
    background-color: lightgrey;
    /* border-radius: 20px; */
    /* width: 4px; */
    align-self: center;
  }
  .contact-header img {
    display: none;
  }
  #portfolio {
    /* background-color: var(--main-color); */
    display: flex;
    flex-direction: column;
  }

  .portfolio-header {
    height: 20vh;
    width: 100vw;
    /* background-color: #fff; */
    position: relative;
  }
  .portfolio-header h1 {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    letter-spacing: 0.2em;
    color: var(--main-color);
  }
  .portfolio-content {
    height: 80vh;
    width: 100vw;
  }
  #blogs {
    /* background-color: var(--main-color); */
    display: flex;
    flex-direction: column;
  }

  .blogs-header {
    height: 20vh;
    width: 100vw;
    /* background-color: #fff; */
    position: relative;
  }
  .blogs-header h1 {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    letter-spacing: 0.2em;
    color: var(--main-color);
  }
  .blogs-content {
    height: 80vh;
    width: 100vw;
  }
  #contact {
    /* background-color: var(--main-color); */
    display: flex;
    flex-direction: column;
  }

  .contact-header {
    height: 20vh;
    width: 100vw;
    /* background-color: #fff; */
    position: relative;
  }
  .contact-header h1 {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    letter-spacing: 0.2em;
    color: var(--main-color);
  }

  .contact-content {
    height: 80vh;
    display: flex;
    flex-direction: column;
    /* column-gap: 20px; */
    text-align: center;
    /* border: magenta 2px solid; */
    justify-content: space-evenly;
    /* border: wheat solid 2px; */
  }
  .contact-content .media,
  .contact-content .ppimg {
    width: 90vw;
    /* padding: auto; */
    margin: 40px auto;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
  }
  .ppimg {
    order: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: centers;
    /* border: mediumvioletred solid 2px; */
    /* border: maroon 2px solid; */
    /* margin-bottom: 0; */
  }
  .contact-lImg-small {
    display: flex;
    flex-direction: row;
    /* width: 90vw; */
    text-align: center;
    justify-content: center;
    margin-top: 5px;
  }
  .contact-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* height: fit-content; */
    margin-bottom: 0;
  }
  .contact-intro p {
    font-family: "Poiret One", "avenir medium";
    width: fit-content;
    line-height: 2em;
    letter-spacing: 0.2em;
    text-align: center;
    font-size: 15px;
    padding: 0 20px;
    /* margin: 10px 0 10px 0; */
    /* border: mediumaquamarine solid 2px; */
  }
  .contact-intro h1 {
    font-family: "Audiowide", "avenir medium", "verdana";
    font-size: 20px;
    letter-spacing: 0.2em;
    /* margin-top: 3vh; */
  }
  .contact-lImg {
    text-align: center;
    justify-content: center;
    /* border: mediumaquamarine solid 2px; */
  }
  .contact-lImg img {
    display: none;
    height: 12vh;
  }
  .contact-bye {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
    margin-top: 2px;
  }
  .contact-bye img {
    height: 40px;
    margin: 0;
  }
  .contact-bye-gitU a {
    text-align: center;
    justify-content: center;
    margin: 0px 0px;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 3px;
    background-color: var(--main-color);
    color: white;
    border: var(--color-p2) solid 1px;
    padding: 5px 20px;
    cursor: pointer;
  }
  .contact-bye-gitU a:hover {
    background-color: var(--main-color);
    color: white;
    border: var(--color-p2) solid 1px;
  }
  .media {
    order: 2;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    padding: 0px;
    /* border: snow 2px solid; */
    z-index: 5;
  }
  .media a {
    border: none;
  }
  .media a img {
    height: 25px;
    opacity: 1;
  }
  .media a:hover {
    background-color: none;
    border-bottom: 0;
  }
  .anti-media {
    order: 3;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* justify-content: space-around; */
    padding: 0px;
    text-align: center;
    justify-content: center;
    margin: 0px auto;
    /* border: rosybrown solid 2px; */

    z-index: 5;
  }
  .anti-media h3 {
    font-size: 12px;
  }
}
