/* -------------------- Media Queries*/

@media (max-width: 1600px) {
  .pilot .greeting {
    width: 80vw;
    margin: auto;
    z-index: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  figure .logo {
    display: inherit;
    width: 120px;
    height: auto;
    margin: 5px 10px;
    margin-top: 20px;
  }
  figure .logo-anim {
    display: none;
  }

  .logo-name a {
    margin-left: 15px;
    font-size: medium;
    font-weight: normal;
    letter-spacing: 2px;
  }
  .logo-name a:hover {
    background-color: white;
    color: var(--main-color);
  }
  p {
    font-size: 12px;
    line-height: 1.5rem;
  }
  .content h1 {
    font-size: 2em;
  }

  .greeting h1 {
    margin-top: 5vh;
    font-size: 45px;
  }
  .greeting p {
    font-size: x-large;
  }

  .ppimg img {
    height: 250px;
  }

  #about {
    display: flex;
    flex-direction: column;
  }

  .about-header {
    height: 20vh;
    width: 100vw;
    position: relative;
  }
  .about-header h1 {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    letter-spacing: 0.2em;
    color: var(--main-color);
  }
  .about-content {
    width: 90vw;
    min-height: fit-content;
    margin: 2vh auto;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .about-content .tech,
  .about-content .general {
    width: 90vw;
    height: fit-content;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .about-content h2 {
    align-self: center;

    font-family: "Audiowide", "avenir black", "verdana bold";
    letter-spacing: 4px;
    padding: 5px 50px;
    margin-top: 0px;
    font-size: 30px;
    color: whitesmoke;
  }
  .p-space {
    margin-top: 0vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .lang-icons {
    width: inherit;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-bottom: 1vh;
  }
  .lang-icons-want {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-bottom: 1vh;
  }

  .lang-icons img {
    height: 60px;
    align-self: center;
    margin: 5px 10px 0px 10px;
  }

  .lang-icons-want img {
    height: 50px;
    align-self: center;
    margin: 0px 10px;
  }
  .p-space p {
    font-size: 24px;
  }
  .p-space .want p {
    font-size: 22px;
    text-align: center;
  }
  .lang-icons h3 {
    margin-top: 0px;
    letter-spacing: 2px;
    align-self: center;
    font-size: 16px;
    color: white;
    font-family: "Montserrat";
    font-weight: lighter;
  }
  .lang-icons h4 {
    font-size: xx-large;
    align-self: center;
    color: white;
  }
  .lang-icons-want h4 {
    margin-top: 0px;

    font-size: x-large;
    align-self: center;
    color: white;
  }

  .general p,
  .tech p {
    margin: 1vh 1vw;
    font-family: "Poiret One", "avenir", "verdana";
    font-size: 20px;
    letter-spacing: 2px;
    text-align: justify;
    line-height: 1.5em;
  }
  .sep-line {
    width: auto;
    height: 1px;
    margin-top: 2px;
    background-color: lightgrey;
    align-self: center;
  }
  .contact-header img {
    display: none;
  }
  #portfolio {
    display: flex;
    flex-direction: column;
  }

  .portfolio-header {
    height: 20vh;
    width: 100vw;
    position: relative;
  }
  .portfolio-header h1 {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    letter-spacing: 0.2em;
    color: var(--main-color);
  }
  .portfolio-content {
    min-height: fit-content;
    width: 90vw;
    display: flex;
    /* flex-flow: column; */
    margin: 2vh auto;
    padding: inherit;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .project {
    width: 40vw;
    min-height: fit-content;
    margin: 2vh 0;
    padding: 18px;
  }
  .project h2 {
    color: black;
    font-family: "Audiowide", "Avenir black";
    font-size: 18px;
    letter-spacing: 1px;
    margin: 4px 0px;
    text-align: left;
  }
  .project img {
    margin: 10px 0px;
    max-width: 100%;
    max-height: 100%;
  }
  .project p {
    font-size: medium;
  }
  #blogs {
    display: flex;
    flex-direction: column;
  }

  .blogs-header {
    max-height: 20vh;
    width: 100vw;
    position: relative;
  }
  .blogs-header h1 {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    letter-spacing: 0.2em;
    color: var(--main-color);
  }
  .blogs-content {
    /* max-height: none; */
    min-height: 40vh;
    width: 90vw;
    display: flex;
    flex-flow: row;
    margin: 2vh auto;
    padding: inherit;
  }
  .blog {
    width: 40vw;
    min-height: fit-content;
    margin: 2vh 2vw;
    padding: 12px;
  }
  .blog h2 {
    color: black;
    font-family: "Audiowide", "Avenir black";
    font-size: 18px;
    letter-spacing: 1px;
    margin: 4px 0px;
    text-align: left;
  }
  .blog img {
    margin: 10px 0px;
    max-width: 100%;
    max-height: 100%;
  }
  .blog p {
    font-size: medium;
  }
  #contact {
    display: flex;
    flex-direction: column;
  }

  .contact-header {
    height: 20vh;
    width: 100vw;
    position: relative;
  }
  .contact-header h1 {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    letter-spacing: 0.2em;
    color: var(--main-color);
  }

  .contact-content {
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
  }
  .contact-content .media,
  .contact-content .ppimg {
    width: 90vw;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
  }
  .ppimg {
    order: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
  }

  .contact-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    margin-bottom: 0;
  }
  .contact-intro p {
    font-family: "Poiret One", "avenir medium";
    width: fit-content;
    line-height: 2em;
    letter-spacing: 0.2em;
    text-align: center;
    font-size: 18px;
    padding: 0 20px;
  }
  .contact-intro h1 {
    font-family: "Audiowide", "avenir medium", "verdana";
    font-size: 24px;
    letter-spacing: 0.2em;
    margin-top: 3vh;
  }
  .contact-lImg {
    text-align: center;
    justify-content: center;
  }
  .contact-lImg img {
    display: none;
    height: 22vh;
  }
  .contact-bye {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    z-index: 5;
    margin: 4vh auto;
  }
  .contact-bye img {
    height: 80px;
    margin: 0;
  }
  .contact-bye-gitU a {
    text-align: center;
    justify-content: center;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 3px;
    background-color: var(--main-color);
    color: white;
    border: var(--color-p2) solid 1px;
    padding: 10px 45px;
    cursor: pointer;
  }
  .contact-bye-gitU a:hover {
    background-color: var(--main-color);
    border: var(--color-p2) solid 1px;
  }
  .media {
    order: 2;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    padding: 4vh;
    margin: 6vh auto;
    z-index: 5;
  }
  .media a {
    border: none;
  }
  .media a img {
    height: 35px;
    opacity: 1;
    background-color: none;
  }
  .anti-media {
    order: 3;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 4vh;
    text-align: center;
    justify-content: center;
    margin: 4vh auto;
    z-index: 5;
  }
  .anti-media h3 {
    font-size: 12px;
  }
}

/*-------------------- screens with width BELOW 855px */
@media (max-width: 848px) {
  .pilot .greeting {
    width: 90vw;
    margin: auto;
    z-index: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  figure .logo {
    display: inherit;
    width: 50px;
    height: auto;
    margin: 3px 0 3px 10px;
    margin-top: 15px;
  }
  figure .logo-anim {
    display: none;
  }

  figure .logo-name a {
    margin: 0px 10px;
    font-size: 10px;
    padding: 4px 10px;
    font-size: small;
    background-color: var(--main-color);
    color: white;
    border: var(--color-p2) solid 1px;
    font-weight: normal;
    letter-spacing: 1px;
  }
  .logo-name a:hover {
    background-color: (var(--main-color));
    color: white;
    border: var(--color-p2) solid 1px;
  }
  p {
    font-size: 14px;
    line-height: 1rem;
  }
  .content h1 {
    font-size: 20px;
  }
  .lines {
    display: none;
  }
  .greeting img {
    width: 30px;
  }
  .greeting h1 {
    margin-top: 20px;
    font-size: 25px;
  }
  .greeting p {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 14px;
  }
  .greeting .high-light {
    font-size: 16px;
  }
  .greeting .go-under {
    margin-top: 10px;
  }
  .go-under a {
    border: solid 2px var(--color-p1);
    padding: 10px 50px;
    font-family: "Poiret One", "avenir medium";
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 0.3s ease;
  }
  #about {
    display: flex;
    flex-direction: column;
  }

  .about-header {
    height: 20vh;
    width: 100vw;
    position: relative;
  }
  .about-header h1 {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    letter-spacing: 0.2em;
    color: var(--main-color);
  }
  .about-content {
    width: 90vw;
    min-height: fit-content;
    margin: 6vh 0 6vh 0;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .about-content .tech,
  .about-content .general {
    width: 90vw;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-content h2 {
    align-self: center;
    font-family: "Audiowide", "avenir black", "verdana bold";
    letter-spacing: 4px;
    padding: 5px 50px;
    margin-top: 0px;
    font-size: 20px;
    color: whitesmoke;
  }
  .p-space {
    margin-top: 1.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .lang-icons {
    width: inherit;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-bottom: 1vh;
  }
  .lang-icons-want {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-bottom: 1vh;
  }

  .lang-icons img {
    height: 30px;
    align-self: center;
    margin: 5px 10px 0px 10px;
  }

  .lang-icons-want img {
    height: 25px;
    align-self: center;
    margin: 0px 10px;
  }

  .p-space .want p {
    font-size: large;
    text-align: center;
  }
  .lang-icons h3 {
    margin-top: 0px;
    letter-spacing: 2px;
    align-self: center;
    font-size: 10px;
    color: white;
    font-family: "Montserrat";
    font-weight: lighter;
  }
  .lang-icons h4 {
    font-size: large;
    align-self: center;
    color: white;
  }
  .lang-icons-want h4 {
    margin-top: 0px;

    font-size: large;
    align-self: center;
    color: white;
  }

  .general p,
  .tech p {
    margin: 1vh 1vw;
    font-family: "Poiret One", "avenir", "verdana";
    font-size: 13px;
    letter-spacing: 2px;
    text-align: justify;
    line-height: 1.5em;
  }
  .tech p {
    font-size: large;
  }
  .sep-line {
    width: auto;
    height: 1px;
    margin-top: 2px;
    background-color: lightgrey;

    align-self: center;
  }
  .contact-header img {
    display: none;
  }
  #portfolio {
    display: flex;
    flex-direction: column;
  }

  .portfolio-header {
    height: 20vh;
    width: 100vw;
    position: relative;
  }
  .portfolio-header h1 {
    width: 50vw;

    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    letter-spacing: 0.2em;
    color: var(--main-color);
  }
  .portfolio-content {
    min-height: fit-content;
    /* width: 90vw; */
    width: 70vw;

    display: flex;
    flex-flow: column;
    margin: 5vh auto;
    padding: inherit;
  }
  .project {
    /* width: 90vw; */
    width: 70vw;

    min-height: fit-content;
    margin: 2vh auto;
    padding: 12px;
  }
  .project h2 {
    color: black;
    font-family: "Audiowide", "Avenir black";
    font-size: 16px;
    letter-spacing: 1px;
    margin: 4px 0px;
    text-align: left;
  }
  .project img {
    margin: 5px 0px;
    /* max-width: 80vw; */
    width: 100%;

    height: 100%;
  }
  .project p {
    font-size: 12px;
  }
  #blogs {
    display: flex;
    flex-direction: column;
  }

  .blogs-header {
    max-height: 20vh;
    width: 100vw;
    position: relative;
  }
  .blogs-header h1 {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    letter-spacing: 0.2em;
    color: var(--main-color);
  }
  .blogs-content {
    min-height: fit-content;
    width: 70vw;
    display: flex;
    flex-flow: column;
    margin: 5vh auto;
    padding: inherit;
  }
  .blog {
    width: fit-content;
    min-height: fit-content;
    margin: 2vh auto;
    padding: 12px;
  }
  .blog h2 {
    width: 50vw;

    color: black;
    font-family: "Audiowide", "Avenir black";
    font-size: 16px;
    letter-spacing: 1px;
    margin: 4px 0px;
    text-align: left;
  }
  .blog img {
    margin: 5px 0px;
    max-width: 100%;
    max-height: 100%;
  }
  .blog p {
    width: 100%;
    font-size: 12px;
  }
  #contact {
    display: flex;
    flex-direction: column;
  }

  .contact-header {
    height: 20vh;
    width: 100vw;
    position: relative;
  }
  .contact-header h1 {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    letter-spacing: 0.2em;
    color: var(--main-color);
  }

  .contact-content {
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
  }
  .contact-content .media,
  .contact-content .ppimg {
    width: 90vw;
    margin: 20px auto;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
  }
  .ppimg {
    order: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: centers;
  }
  .contact-lImg-small {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 5px;
  }
  .contact-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 0;
  }
  .contact-intro p {
    font-family: "Poiret One", "avenir medium";
    width: fit-content;
    line-height: 2em;
    letter-spacing: 0.2em;
    text-align: center;
    font-size: 15px;
    padding: 0 20px;
  }
  .contact-intro h1 {
    font-family: "Audiowide", "avenir medium", "verdana";
    font-size: 20px;
    letter-spacing: 0.2em;
  }
  .contact-lImg {
    text-align: center;
    justify-content: center;
  }
  .contact-lImg img {
    display: none;
    height: 12vh;
  }
  .contact-bye {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
    margin-top: 2px;
  }
  .contact-bye img {
    height: 40px;
    margin: 0;
  }
  .contact-bye-gitU a {
    text-align: center;
    justify-content: center;
    margin: 0px 0px;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 3px;
    background-color: var(--main-color);
    color: white;
    border: var(--color-p2) solid 1px;
    padding: 5px 20px;
    cursor: pointer;
  }
  .contact-bye-gitU a:hover {
    background-color: var(--main-color);
    border: var(--color-p2) solid 1px;
  }
  .media {
    order: 2;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    padding: 0px;
    z-index: 5;
  }
  .media a {
    border: none;
  }
  .media a img {
    height: 25px;
    opacity: 1;
    background-color: none;
  }
  .anti-media {
    order: 3;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px;
    text-align: center;
    justify-content: center;
    margin: 0px auto;

    z-index: 5;
  }
  .anti-media h3 {
    font-size: 12px;
  }
  .new-website p {
    /* position: relative; */
    /* margin-bottom: 2vh; */
    left: 50vw;
    padding: 0.2rem;
    background-color: rebeccapurple;
    /* transform: translate(-50%, -50%); */
    font-size: 0.9rem;
    /* margin-top: 1.5vh; */
    /* padding-top: 2vh; */
    color: ivory;
    /* color: aquamarine; */
  }
}

@media (max-width: 420px) {
  #nav-links {
    display: none;
  }
  header .greeting {
    min-height: fit-content;
    margin: 2vh auto;
  }
  .pilot .greeting {
    width: 90vw;
    margin: auto;
    z-index: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  figure .logo {
    display: inherit;
    width: 50px;
    height: auto;
    margin: 3px 0 3px 10px;
    margin-top: 10px;
  }
  figure .logo-anim {
    display: none;
  }

  figure .logo-name a {
    margin: 0px 10px;
    font-size: 10px;
    padding: 4px 10px;
    font-size: small;
    background-color: var(--main-color);
    color: white;
    border: var(--color-p2) solid 1px;
    font-weight: normal;
    letter-spacing: 1px;
  }
  .logo-name a:hover {
    background-color: (var(--main-color));
    color: white;
    border: var(--color-p2) solid 1px;
  }
  p {
    font-size: 14px;
    line-height: 1rem;
  }
  .content h1 {
    font-size: 20px;
  }
  .lines {
    display: none;
  }
  .greeting img {
    width: 30px;
  }
  .greeting h1 {
    margin-top: 20px;
    font-size: 25px;
  }
  .greeting p {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 14px;
  }
  .greeting .high-light {
    font-size: 16px;
  }
  .greeting .go-under {
    margin-top: 10px;
  }
  .go-under a {
    border: solid 2px var(--color-p1);
    padding: 10px 50px;
    font-family: "Poiret One", "avenir medium";
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 0.3s ease;
  }
  #about {
    display: flex;
    flex-direction: column;
  }

  .about-header {
    height: 20vh;
    width: 100vw;
    position: relative;
  }
  .about-header h1 {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    letter-spacing: 0.2em;
    color: var(--main-color);
  }
  .about-content {
    width: 90vw;
    min-height: fit-content;
    margin: 6vh 0 6vh 0;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .about-content .tech,
  .about-content .general {
    width: 90vw;
    height: auto;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-content h2 {
    align-self: center;

    font-family: "Audiowide", "avenir black", "verdana bold";
    letter-spacing: 4px;
    padding: 5px 50px;
    margin-top: 0px;
    font-size: 20px;
    color: whitesmoke;
  }
  .p-space {
    margin-top: 1.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .lang-icons {
    width: inherit;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-bottom: 1vh;
  }
  .lang-icons-want {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-bottom: 1vh;
  }

  .lang-icons img {
    height: 30px;
    align-self: center;
    margin: 5px 10px 0px 10px;
  }

  .lang-icons-want img {
    height: 25px;
    align-self: center;
    margin: 0px 10px;
  }

  .p-space .want p {
    font-size: 12px;
    text-align: center;
  }
  .lang-icons h3 {
    margin-top: 0px;
    letter-spacing: 2px;
    align-self: center;
    font-size: 10px;
    color: white;
    font-family: "Montserrat";
    font-weight: lighter;
  }
  .lang-icons h4 {
    font-size: large;
    align-self: center;
    color: white;
  }
  .lang-icons-want h4 {
    margin-top: 0px;

    font-size: large;
    align-self: center;
    color: white;
  }

  .general p,
  .tech p {
    margin: 1vh 1vw;
    font-family: "Poiret One", "avenir", "verdana";
    font-size: 13px;
    letter-spacing: 2px;
    text-align: justify;
    line-height: 1.5em;
  }
  .sep-line {
    width: auto;
    height: 1px;
    margin-top: 2px;
    background-color: lightgrey;
    align-self: center;
  }
  .contact-header img {
    display: none;
  }
  #portfolio {
    display: flex;
    flex-direction: column;
  }

  .portfolio-header {
    height: 20vh;
    width: 100vw;
    position: relative;
  }
  .portfolio-header h1 {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    letter-spacing: 0.2em;
    color: var(--main-color);
  }
  .portfolio-content {
    min-height: fit-content;
    width: 90vw;
    display: flex;
    flex-flow: column;
    margin: 5vh auto;
    padding: inherit;
  }
  .project {
    width: 90vw;
    min-height: fit-content;
    margin: 2vh auto;
    padding: 12px;
  }
  .project h2 {
    color: black;
    font-family: "Audiowide", "Avenir black";
    font-size: 16px;
    letter-spacing: 1px;
    margin: 4px 0px;
    text-align: left;
  }
  .project img {
    margin: 5px 0px;
    max-width: 100%;
    max-height: 100%;
  }
  .project p {
    font-size: small;
  }
  #blogs {
    display: flex;
    flex-direction: column;
  }

  .blogs-header {
    max-height: 20vh;
    width: 100vw;
    position: relative;
  }
  .blogs-header h1 {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    letter-spacing: 0.2em;
    color: var(--main-color);
  }
  .blogs-content {
    min-height: fit-content;
    width: 90vw;
    display: flex;
    flex-flow: column;
    margin: 5vh auto;
    padding: inherit;
  }
  .blog {
    width: 90vw;
    min-height: fit-content;
    margin: 2vh auto;
    padding: 12px;
  }
  .blog h2 {
    color: black;
    font-family: "Audiowide", "Avenir black";
    font-size: 16px;
    letter-spacing: 1px;
    margin: 4px 0px;
    text-align: left;
  }
  .blog img {
    margin: 5px 0px;
    max-width: 100%;
    max-height: 25vh;
  }
  .blog p {
    font-size: small;
  }
  #contact {
    display: flex;
    flex-direction: column;
  }

  .contact-header {
    height: 20vh;
    width: 100vw;
    position: relative;
  }
  .contact-header h1 {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    letter-spacing: 0.2em;
    color: var(--main-color);
  }

  .contact-content {
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
  }
  .contact-content .media,
  .contact-content .ppimg {
    width: 90vw;
    margin: 20px auto;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
  }
  .ppimg {
    order: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: centers;
  }
  .contact-lImg-small {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 5px;
  }
  .contact-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 0;
  }
  .contact-intro p {
    font-family: "Poiret One", "avenir medium";
    width: fit-content;
    line-height: 2em;
    letter-spacing: 0.2em;
    text-align: center;
    font-size: 15px;
    padding: 0 20px;
  }
  .contact-intro h1 {
    font-family: "Audiowide", "avenir medium", "verdana";
    font-size: 20px;
    letter-spacing: 0.2em;
  }
  .contact-lImg {
    text-align: center;
    justify-content: center;
  }
  .contact-lImg img {
    display: none;
    height: 12vh;
  }
  .contact-bye {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
    margin-top: 2px;
  }
  .contact-bye img {
    height: 40px;
    margin: 0;
  }
  .contact-bye-gitU a {
    text-align: center;
    justify-content: center;
    margin: 0px 0px;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 3px;
    background-color: var(--main-color);
    color: white;
    border: var(--color-p2) solid 1px;
    padding: 5px 20px;
    cursor: pointer;
  }

  .media {
    order: 2;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    padding: 0px;
    z-index: 5;
  }
  .media a {
    border: none;
  }
  .media a img {
    height: 25px;
    opacity: 1;
    background-color: none;
  }
  .anti-media {
    order: 3;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px;
    text-align: center;
    justify-content: center;
    margin: 0px auto;

    z-index: 5;
  }
  .anti-media h3 {
    font-size: 12px;
  }
  .new-website p {
    /* position: relative; */
    /* margin-bottom: 2vh; */
    left: 50vw;
    padding: 0.2rem;
    background-color: rebeccapurple;
    /* transform: translate(-50%, -50%); */
    font-size: 0.8rem;
    /* margin-top: 1.5vh; */
    /* padding-top: 2vh; */
    color: ivory;
    /* color: aquamarine; */
  }
}
