* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
:root {
  --color-p1: #666aff;

  --color-p2: #2eb9ff;
  --main-color: rgb(18, 30, 35);
}

body {
  font-family: "Lucida Sans", Geneva, Verdana, sans-serif, Arial;
  background-color: rgba(18, 30, 35);
}

li,
a,
p,
h1,
h2,
h3 {
  color: white;
  text-decoration: none;
}

.high-light {
  font-weight: bold;
  font-size: 35px;
  background-color: var(--color-p2);
  border: var(--color-p2) solid 2px;
  padding: 3px 10px;
}
.high-light:hover {
  content: "singularity_dev";
  background-color: var(--main-color);
  color: var(--color-p2);
  border: white solid 2px;
}

header {
  width: 100%;
  margin: auto;
  min-height: 100vh;
  border-bottom: solid 1px whitesmoke;
}

section {
  max-width: 80%;
  min-height: 85vh;
  overflow: hidden;
  margin: auto;
}

/* -------------------- NAVIGATION BAR*/
nav {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0%;
  background-color: rgba(18, 30, 35, 1);
  border-bottom: solid 1px whitesmoke;
}

/* -------------------- Logo*/
.logo {
  cursor: pointer;
  width: 120px;
  height: auto;
}
/* -------------------- Nav Links*/
#nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
#nav-links li {
  width: 130px;
  text-align: center;
}

#nav-links li a {
  font-weight: lighter;
  font-size: 10px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

#nav-links li a:hover {
  color: rgba(97, 205, 255, 0.8);
}

/*--------dark-mode----------*/

.dark-mode {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.dark-mode input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders 
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}*/

/*----------------------------------------*/
.pilot {
  display: flex;
}
.greeting {
  padding: 0 30px;
  margin: 0 0 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.greeting h1 {
  font-family: Helvetica, sans-serif;
}
.greeting p {
  color: white;
  padding: 0 10px;
  margin: 50px 0 0 0;
}
.ppimg {
  padding: 0 30px;
  margin: 0 30px 0 0;
  align-self: center;
  justify-content: center;
}
.ppimg img {
  width: 450px;
}

.go-under {
  cursor: pointer;
  position: absolute;
  top: 80vh;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
}

.go-under a {
  border: solid 2px var(--color-p1);
  padding: 15px 50px;
  letter-spacing: 3px;
  transition: ease;
}
.go-under a:hover {
  background-color: var(--color-p1);
}
/* -------------------- CONTENT */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 2rem;
  margin-bottom: 10vh;
}

p {
  font-size: 20px;
  text-align: start;
  line-height: 3rem;
}
.content h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 450;
  font-size: 3em;
  margin-top: 2vh;
}
h1 {
  font-size: 90px;
  margin-bottom: 5px;
}

/*-------------------- Media Queries */

/*-------------------- screens with width ABOVE 855px */
@media (min-width: 920px) {
  #nav-links li a {
    font-size: large;
  }
  .container {
    min-height: 100vh;
  }

  #hamburger {
    display: none;
  }
}

/*-------------------- screens with width BELOW 855px */
@media (max-width: 920px) {
  .container {
    min-height: 100vh;
  }
  #navbar {
    padding: 5px 10%;
  }
  .logo {
    width: 80px;
  }
  #nav-links {
    display: none;
  }
  #menu {
    display: inherit;
  }
  p {
    font-size: 12px;
    line-height: 1.5rem;
  }
  .content h1 {
    font-size: 2em;
  }
  .pilot {
    display: flex;
    flex-direction: column;
  }
  .greeting {
    margin: auto;
    justify-content: inherit;
  }
  .greeting h1 {
    font-size: 45px;
    margin-top: 0;
  }
  .greeting p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .ppimg img {
    height: 250px;
  }
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(18, 30, 35, 0.95);
  overflow: hidden;
  transition: all 0.2s ease 0s;
}

.menu-items {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.menu-items a {
  padding: 15px;
  margin-bottom: 2px;
  font-size: 25px;
  display: block;
  transition: all 0.5s ease 0s;
}
.menu-items a:hover,
.menu-items a:focus {
  color: rgb(255, 195, 121);
  border-bottom: snow 1px solid;
}

#menu {
  font-size: xx-large;
}

#close-icon {
  font-size: xx-large;
  position: absolute;
  top: 30px;
  right: 50px;
}
