* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Sans", Geneva, Verdana, sans-serif, Arial;
  background-color: rgb(241, 241, 241);
}

li,
a {
  color: rgba(18, 30, 35, 0.85);
  text-decoration: none;
  text-transform: uppercase;
}

section {
  max-width: 80%;
  min-height: 100vh;
  overflow: hidden;
  margin: auto;
}

/* -------------------- NAVIGATION BAR*/
nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0%;
}

/* -------------------- Logo*/
.logo {
  cursor: pointer;
  width: 100px;
  height: auto;
}
/* -------------------- Nav Links*/
#nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
#nav-links li {
  width: 130px;
  text-align: center;
}

#nav-links li a {
  font-weight: lighter;
  font-size: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

#nav-links li a:hover {
  color: rgb(74, 77, 76);
}

#menu {
  display: none;
}

/* -------------------- CONTENT */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 2rem;
}

p {
  font-size: 15px;
  text-align: center;
  color: rgb(23, 29, 34);
  line-height: 2rem;
}
.content h1 {
  color: rgb(255, 195, 121);
  font-weight: 450;
  font-size: 3em;
  margin-top: 4.1vh;
}
h1 {
  border-bottom: azure solid 2px;
  margin-bottom: 0.5em;
}

/*-------------------- Media Queries */

/*-------------------- screens with width ABOVE 855px */
@media (min-width: 920px) {
  #nav-links li a {
    font-size: large;
  }
  .container {
    min-height: 100vh;
  }

  #hamburger {
    display: none;
  }
}

/*-------------------- screens with width BELOW 855px */
@media (max-width: 920px) {
  .container {
    min-height: 100vh;
  }
  #navbar {
    padding: 5px 10%;
  }
  .logo {
    width: 120px;
  }
  #nav-links {
    display: none;
  }
  #menu {
    display: inherit;
  }
  p {
    font-size: 12px;
    line-height: 1.5rem;
  }
  .content h1 {
    font-size: 2em;
  }
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(18, 30, 35, 0.95);
  overflow: hidden;
  transition: all 0.2s ease 0s;
}

.menu-items {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.menu-items a {
  padding: 15px;
  margin-bottom: 2px;
  font-size: 25px;
  display: block;
  transition: all 0.5s ease 0s;
}
.menu-items a:hover,
.menu-items a:focus {
  color: rgb(255, 195, 121);
  border-bottom: snow 1px solid;
}

#menu {
  font-size: xx-large;
}

#close-icon {
  font-size: xx-large;
  position: absolute;
  top: 30px;
  right: 50px;
}
